.active-teacher {
    color: #FE5266;
}

.active-teacher::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FE5266;
    margin-right: 10px;
}